

  .line-1{
    width:35px;
    height:4px;
    background-color:#000;
  }
  .line-2{
    width:235px;
    height:4px;
    background-color:#000;
    margin-top: 4px;
      margin-left: 10px;
  
  }
  .about-left-content i{
    font-size:28px;
    padding:0 10px;
  }
  .about-left-content{
    align-items:center;
   
    
  }
  .about-para{
    font-size:17px;
    color: #424242;
    line-height:26px;
    font-family: 'Roboto-Medium';
  
  
  }
  .about-left{
    padding:20px 10px 50px 0;
    
    border-bottom:2px solid #000;
  }
  
  .about-right p{
    font-size:15px;
    color:#232323;
    line-height:24px;
    font-family: 'Roboto-Regular';
  
  }
  .about-left-content img{
    width:20px;
    margin:0 10px;
  }
  .gallery {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05), 0px -6px 7px rgba(0, 0, 0, 0.05);
  }
  
  .gallery-big-img img{
    width:100%;
    height:373px;
    object-fit: cover;
    /* border-radius: 7px; */
  }
  .gallery-top{
    position:relative;
  }
  .play-circle{
    width:50px;
    height:50px;
    border-radius:50%;
    /* background-color: rgba(255, 255, 255, 0.9);; */
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background: url(../images/home-img/play-button.png);
    background-size: auto;
  background-size: cover;

  }
  .play-circle a {
    display: none;
  }
  .play-circle img{
    width: 100%;
      padding: 13px 15px 15px 13px;
      margin-left: 3px;
  }
  .gallery-right{
    background: linear-gradient(90deg, #FFFFFF 0%, #F4F4F4 100%);
    padding:40px 40px 10px 40px;
  }
  .inner-left h2{
    font-size:23px;
    font-family: 'Roboto-Bold';
    color:#282828;
    margin:0;
  }
  .inner-left p{
    font-size:18px;
    font-family: 'Roboto-Regular';
    color:#000;
    margin:0;
  
  }
  .inner-item{
    display:flex;
    align-items:center;
    margin-bottom:65px;
  
  }
  .inner-item:last-child{
     margin-bottom:30px;
  }
  .pattern{
    margin-right:20px;
  }
  .gallery-bottom .item figure{
    width:100px;
    margin:0 auto;
  }
  .gallery-bottom .owl-carousel .owl-item img{
    width:100%;
  }
  .gallery-bottom .owl-item .active{
    width:85px;
  }
  /* .slider-nav .slick-slide{
    padding:0 15px;
  } */
  .gallery-bottom .owl-carousel.owl-drag .owl-item .cloned{
    width:85px;
  }
  .gallery-bottom{
    padding:0 70px;
    position:relative;
  }
  .gallery-bottom .owl-carousel .owl-nav button.owl-prev{
    position:absolute;
    left:-56px;
    top:38px;
    background:url(../images/prev.png);
    background-repeat:no-repeat;
    background-size: 78%;
    background-position:center;
    width:20px;
    color:#000;
  }
  .gallery-bottom .owl-carousel .owl-nav button.owl-prev:focus-within{
    border:none;
    outline:none;
  }
  
  
  .gallery-bottom .owl-carousel .owl-nav button.owl-next{
    position:absolute;
    right:-56px;
    top:38px;
    background:url(../images/next.png);
    background-repeat:no-repeat;
    background-size: 78%;
    background-position:center;
    width:20px;
    color:#000;
  }
  .gallery-bottom .owl-carousel .owl-nav button.owl-next:focus-within{
    border:none;
    outline:none;
  }
  .gallery-bottom .owl-theme .owl-dots{
    display:none;
  }
  .gallery-bottom .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display:block;
  }
  
  .sld-name{
      font-size: 18px;
      color: #060602;
      font-family: 'Roboto-Bold';
      background-color: #fff;
      padding: 2px 20px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
      border-radius:4px;
  
  
  }
  @media(min-width:1070px) and (max-width:1090px){
    .about-left{
      padding: 20px 20px 35px 0 !important;
    }
    .line-2{
      width:130px !important;
    }
    .gallery-big-img img{
      height:330px !important;
    }
    .con-box::before, .con-box::after{
      bottom:27px !important;
    }
  }

  @media(min-width:1199px) and (max-width:1365px){
    
    .inner-left p{
      font-size:17px;
    }
    .inner-left h2{
      font-size:22px;
    }
    

  }
  @media(min-width:1366px) and (max-width:1380px){
    .about-left-title{
      font-size:20px !important;
    }
    .line-2{
      width:190px !important;
    }
    .about-left{
      padding:20px 20px 55px 0 !important;
    }
    .inner-left p{
      font-size:17px !important;
    }
  }
  @media(min-width:1270px) and (max-width:1285px){
    .con-box::before{
      left:-46px !important;
    }
    .con-box::after{
      right:-46px !important;
    }
    .con-box::before, .con-box::after{
      bottom:23px !important;
    }
    .about-left-title{
      font-size:17px !important;
    }
    .about-left{
      padding:20px 20px 100px 0 !important;
    }
    .line-2{
      width:187px !important;
    }
  }
  @media(min-width:1420px) and (max-width:1445px){
    .line-2{
      width:200px !important;
    }
  }
  



  @media(min-width:992px) and (max-width:1198px){
    .banner{
      max-width:99%;
    }
    .line2{
      width:90px;
    }
    .about-left-title{
      font-size:16px;
    }
    .about-left{
      padding: 20px 20px 35px 0;
    }
    .inner-left h2{
      font-size:23px;
    }
    .inner-left p{
      font-size:17px;
    }
    .gallery-right{
      padding:40px 40px 5px 40px;
    }
    .line-2{
      width:106px;
    }
    .gallery-big-img img{
      height:310px;
    }
  }

  @media(min-width:768px) and (max-width:991px){
    
    .about-left-content{
      justify-content:center;
    }
    .about-left{
      padding:10px 10px 15px;
    }
    .about-right{
      padding: 28px 7px 10px;
    }
    .gallery-bottom{
      margin-bottom:20px;
    }
    .gallery-right{
      display: flex;
    flex-wrap: wrap;
    /* flex: 2; */
    justify-content: space-between;
    padding: 40px 40px 15px;
    }
    .inner-item{
      width:50%;
      justify-content: left;
      margin-bottom: 5%;
    }
    .inner-left h2{
      font-size:18px;
    }
    .inner-left p{
      font-size:16px;
    }
    .inner-item:last-child{
      margin-bottom: 5%;
    }
    .gallery-big-img img{
      height:305px;
    }
    .line-2{
      width:100px;
    }
  }

  @media(min-width:600px) and (max-width:767px){
    
    .about-bg-title{
      font-size:27px;
    }
    .about-left-title{
      font-size:19px;
    }
    .about-left-content{
      justify-content:center;
    }
    .about-para{
      font-size:16px;
    }
    .about-right{
      padding:20px 10px;
    }
    .gallery-bottom{
      margin-bottom:20px;
    }
    .gallery-right{
      display: flex;
    flex-wrap: wrap;
    /* flex: 2; */
    justify-content: space-between;
    padding: 40px 40px 15px;
    }
    .inner-item{
      width:50%;
      margin-bottom: 5%;
      justify-content: left;
    }
    .inner-left h2{
      font-size:18px;
    }
    .inner-left p{
      font-size:16px;
    }
    .line-2{
      width:100px;
    }
    .about-left{
      padding:20px 20px 10px 0;
    }
    .gallery-big-img img{
      height:285px;
    }
    .inner-item:last-child{
      margin-bottom: 5%;
    }
  }

  @media(min-width:360px) and (max-width:559px){
    
    .about-bg-title{
      font-size:25px;
      letter-spacing:4px;
    }
    .banner-img img{
      height:130px;
    }
    .about-left-content img {
      width: 15px;
    }
    .about-left-title{
      font-size:16px;
    }
    .line-2{
      width: 51px;
      height:3px;
      margin-left:12px;
    }
    .about-para{
      font-size:14px;
      line-height:24px;
    }
    .about-left{
      padding:20px 10px 10px 0;
    }
    .about-right{
      padding:20px 10px 10px;
    }
    .inner-item {
      margin-bottom: 10%;
    }
    .play-circle{
      width:42px;
      height:42px;
    }
    .sld-name{
      padding:2px 12px;
    }
    .gallery-bottom{
      margin-bottom:20px;
    }
    .inner-left h2{
      font-size:22px;
    }
    .inner-left p{
      font-size:16px;
    }
    .gallery-right{
      padding:40px 40px 15px;
    }
    .gallery-big-img img{
      height:190px;
    }
  }
  @media(min-width:400px) and (max-width:430px){
    .about-left-title{
      font-size:17px !important;
    }
    .line-2{
      width:96px !important;
    }
  }

  