




*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
ul li{
    list-style:none;
}
a:hover{
    text-decoration:none;
}
body{
    font-family: 'Roboto-Regular';
    
    font-size:14px;
    
}
.clscapitalize{
    text-transform:capitalize;
}
.clsuppercase{
    text-transform:uppercase;
}
.menu li.active a{
    background-color:#6f9910;
    color:#fff;
}


.banner{
    position:relative;
}
/* .previous-aero{
   
   background: url('images/sprite-image.png') no-repeat -5px -2px;
   width: 26px;
   height: 46px;
   top:50%;
   left:20%;
   position:absolute;
   display:inline-block;
   
} */
/* .banner .carousel-control-prev-icon{
    background-image:url(../images/back.png);
    background-repeat:no-repeat;
    background-size:cover;
	width: 26px;
	height: 46px;
    position:absolute;

}

.banner .carousel-control-next-icon{
    background-image:url(../images/next.png);
    background-repeat:no-repeat;
    background-size:cover;
	width: 26px;
	height: 46px;
    position:absolute;
}
.banner-title{
    font-size:72px;
    font-family: 'Satisfy', cursive;
    font-weight:400;
    color:#fff;
    
    
}
.banner-content{
    position:absolute;
    top:35%;
    left:30%;
}
.slide-2{
    left:34%;
}
.slide-3{
    left:27%;
}
.banner-para{
    font-size:24px;
    font-family:'Poppins', sans-serif;
    color:#fff;

}
.banner-content a{
    font-size:15px;
    font-weight:500;
    display:inline-block;
    font-family:'Poppins', sans-serif;
    background-color:#cc0066;
    color:#fff;
    padding:10px 30px;
    border-radius:3px;
    
} */
.contact-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    font-family:'Poppins', sans-serif;

}
.contact-banner img{
    width:100%;
    /* height:470px; */
    filter:brightness(0.5);
}

.contact-banner-title{
    font-size:42px;
    color:#fff;
    
    font-weight:600;
}
.contact-banner-para{
    font-size:23px;
    font-weight:300;
    color:#fff
}

.contacts{
    background-color:#fff;
    padding:45px 0 45px 0;
    max-width:1200px;
    width:100%;
    margin:35px auto;
    
    
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}

/* .travel-title{
    font-size:36px;
    color:#333;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:300;
}
.travel-title span{
    color:#ff3366;
}

.travel-para{
    font-size:20px;
    font-weight:300;
    color:#777;
    font-family:'Poppins', sans-serif;
}
.tour-list{
    overflow:hidden;
    margin:0 auto;
}
.tour-list img{
    width:100%;
    border-radius:5px;
    transition: 0.5s all ease-in-out;
}
.tour-list:hover img{
    transform:scale(1.2);
}
.tour-wrap{
    position:relative;
}
.ribbon{
    position:absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 100px;
    height: 75px;
}
.ribbon span{
    font-size:10px;
    font-weight:bold;
    text-align:center;
    font-family:'Poppins', sans-serif;
    color:#fff;
    background:linear-gradient(#9BC90D 0%, #79A70A 100%);
    line-height:20px;
    position:absolute;
    top:20px;
    left:-21px;
    transform:rotate(-45deg);
    width:100%;
}
.ribbon span:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.ribbon span:after{
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.price{
    position:absolute;
    right:0;
    top:10%;
}
.price-no{
    font-size:24px;
    font-family:'Poppins', sans-serif;
    font-weight:500;
    color:#fff;
    padding:7px 8px 3px 8px;
    background-color:#cc0066;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.price-no sup{
    position:relative;
    top:-4px;
} */
.divider{
    background:url(../images/divider.html);
    background-repeat:no-repeat;
    width:100%;
    position:absolute;
    top:-25px;
    left:0;
    height:25px;
}

/* .tour-info{
    
    
    padding:25px 15px 0px 20px;
    position:absolute;
    left:0;
    bottom:0;
    background:url(../images/shadow_tour.png);
    background-repeat:repeat;
    width:100%;
    font-family:'Poppins', sans-serif;
    font-weight:400;
    
    text-align:left;
}
.tour-place{
    font-size:18px;
    
    color:#fff;
}
.duration{
    font-size:12px;
    color:#fff;
    opacity:0.8;
}
.info-right{
    display:flex;
    align-items:center;
    color:#fff;
    opacity:0.8;
    position:absolute;
    right:15px;
    bottom:17px;
}
.superb{
    font-size:12px;
    margin:1px 13px 0 0;
    color:#999;
    
}
.score{
    width:36px;
    height:36px;
    border-radius:50%;
    border:2px  solid rgba(255, 255, 255, .5);
    padding:6px;
}

.tour-paras{
    font-size:15px;
    font-family:'Poppins', sans-serif;
    color:#fff;
    font-weight:500;
    line-height:20px;
   
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    transition:opacity 0.4s ease-in-out;
    cursor:pointer;
}
.content{
    position:absolute;
    left:0;
    top:25%;
    font-family:'Poppins', sans-serif;
    text-align:left;
    
}
.tour-list:hover .overlay{
    display:block;
}
.tour-list:hover .info-left{
    display:none;
}
.tour-wrap:hover .info-left{
    display:none;
}


.content .tour-loc{
    font-size:18px;
    
    color:#fff;
}
.content .durations{
    font-size:12px;
    color:#fff;
    font-family:'Poppins', sans-serif;
}

.explore-all a{
    font-size:13px;
    font-weight:500;
    font-family:'Poppins', sans-serif;
    color:#fff;
    background-color:#cc0066;
    padding:7px 15px;
    border-radius:3px;
    display:inline-block;
}

.explore-all a:hover{
    background-color:#65318f;
} */

.contact-top{
    font-family:'Poppins', sans-serif;
}

.contact-title{
    font-size:36px;
    /* font-weight:500; */
    font-family: 'Roboto-Medium';
    color:#000;
    position:relative;
}
.contact-title span{
    font-size:16px;
    font-weight:normal;
    position:relative;
    top:-7px;


}
.contact-title::after{
    content:"";
    width:60px;
    height:3px;
    background-color:#000;
    position:absolute;
    left:0;
    bottom:-40%;
}

.contact-box{
    background-color:#fff;
    padding:35px 150px 35px 35px;
    font-family:'Poppins', sans-serif;
    
    max-width: 850px;
    width: 100%;
    
    border: 6px solid #031B31;
    
    position:relative;
}
.contact-box .form-group{
    position: relative;
    margin-bottom:10px;
    width:90%;
}
.contact-box .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }

   .form-control:focus + .form-control-placeholder,
   .form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
  }
  .floating-input{
    color:#000;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    font-size:14px;

  }
  
  .contact-box .form-control:focus{
    box-shadow:none;
    border-bottom:2px solid #000;
  }
  .req{
    color:red;
  }
  .captcha{
    display:flex;
    align-items:center;
  }

  .captcha .form-control{
    border: 0px;
    border-bottom: 1px solid #000;
    width: 30px;
    border-radius: 0;
    padding: 0;
    text-align:center;
  }
  .refresh{
   margin:10px 0 0 10px;
    filter: invert(100);
  }
  .refresh img{
    width:17px;
  }
  .submit button{
    font-size:13px;
    color:#fff;
    background-color:#cc0066;
    padding:10px 20px;
    letter-spacing:3px;
    font-weight:500;
    cursor:pointer;
    border:none;
    
  }

  .submit-btns{
    font-size:13px;
    color:#fff;
    background-color:#031B31;
    padding:10px 20px;
    letter-spacing:3px;
    font-weight:500;
    cursor:pointer;
    border:none;
    text-transform:uppercase;
  }

  .contact-info{
    background-color:#031B31;
    min-width:310px;
    padding:20px 40px;
    position:absolute;
    right:-250px;
    top:55px;
    color:#FF988E;
    
  }
  .v-line{
    width:1px;
    height:5px;
    border-left: 1px solid #fff;
    margin:6px;
  }
  .con-title{
    font-size:16px;
    /* font-weight:500; */
    font-family: 'Roboto-Regular';
  }
  .contact-me{
    display:flex;
  }
  .con-info{
    color:#fff;
    font-size:14px;
    font-family: 'Roboto-Regular';
  }
  .con-info a{
    color:#fff;
    font-size:14px;
  }
  .contact-me i{
    font-size:20px;
    
  }
  .web-address br{
    display:none;
}


  @media(min-width:992px) and (max-width:1199px){
    header{
        display:block;
        position:relative !important;
    }
    .menu li a{
        padding:12px 30px 12px 30px !important;
        font-size:14px !important;
    }
    .menu li a:hover{
           background-color:#cc0066;
           color:#fff;
    }
    .dropdown-content{
        animation: growDown 400ms ease-in-out forwards;
        transform-origin: top center;
        min-width:230px !important;
    }
    @keyframes growDown {
        0% {
            transform: scaleY(0)
        }
        80% {
            transform: scaleY(1.1)
        }
        100% {
            transform: scaleY(1)
        }
    }
    .contacts{
        padding:35px 0 35px 0;
        
    }
    .divider{
        top:-22px;
    }
    .contact-banner-title{
        font-size:50px;
    }
    .contact-banner-para{
        font-size:20px;
    }
    .contact-title{
        font-size:32px;
    }
    .contact-title span{
        font-size:14px;
    }
    .contact-title::after{
        bottom:-40%;
    }
    .contact-box{
        padding:30px 120px 30px 30px;
        max-width: 685px;
    }
    .floating-input{
        font-size:14px;
        width:90%;
    }
    .floating-inputs{
        width:90%;
    }
    .submit button{
        font-size:12px;
        padding:10px 20px;
    }
    .contact-box .form-group{
        width:80%;
    }
    .contact-info{
        top:10%;
        padding:20px 35px;
    }
    .contact-box .form-group{
        width:95%;
    }
    .submit-btns{
        margin-left:-70px;
    }
  }

  @media(min-width:768px) and (max-width:991px){
    header{
        display:block;
        position:relative !important;
    }
    .menu li a{
        padding:12px 30px 12px 30px !important;
    }
    .dropdown>.dropdown-content>li>a{
        padding:10px 18px !important;
    }
    .contact-banner-title{
        font-size:40px;
    }
    .contact-banner-para{
        font-size:16px;
    }
    .contacts{
        padding:25px 0 25px 0;
        
    }
    .divider{
        top:-22px;
    }
    .contact-title{
        font-size:28px;
    }
    .contact-title span{
        font-size:13px;
        top:-4px;
    }
    .contact-box{
        padding:15px 85px 30px 25px;
        max-width: 445px;
    }
    .contact-info{
        right:-268px;
    }
    .submit button{
        padding:10px 12px;
    }
    .contact-info{
        padding:20px;
        top:10%;
    }
    .con-title{
        font-size:14px;
    }
    .contact-box .form-group{
        width:100%;
    }
    .web-address br{
        display:block;
    }
    .floating-input{
        width:80%;
    }
    .floating-inputs{
        width:80%;
    }
    .submit-btns{
        margin-left:-68px;
    }
  }

  @media(min-width:600px) and (max-width:767px){
    header{
        display:block;
        position:relative !important;
    }
    .menu li a{
        padding:15px 25px 15px 25px !important;
    }
    .dropdown>.dropdown-content>li>a{
        padding:10px 18px !important;
    }
    .contact-banner-title{
        font-size:30px;
    }
    .contact-banner-para{
        font-size:14px;
    }
    .contact-banner img{
        height:290px;
    }
    .contacts{
        padding:20px 0 20px 0;
        
    }
    .divider{
        top:-22px;
    }
    .contact-title{
        font-size:24px;
    }
    .contact-title span{
        font-size:11px;
        top:-4px;
    }
    .contact-box{
        padding:15px 20px 30px 20px;
        max-width:520px;
        
    }
    .contact-info{
        position: static !important;
    }
    .contact-box .form-group{
        width:100%;
    }
    .submit button{
        padding:10px 15px;
        margin-left:40px;
    }
    .con-title{
        font-size:15px;
    }
    .phone a, .web-address, .mail a{
        font-size:10px;
    }
  }

  @media(min-width:360px) and (max-width:559px){
    .menu{
        
        position:fixed;
        top:0px;
        right:0;
        background-color:#fff;
        flex-direction:column;
        height:100vh !important;
        width:100%;
        z-index:999;
        /* justify-content:space-between !important; */
        justify-content:unset !important;
        padding:80px 0;
        
       transform:translatex(100%);
       transition:transform 0.6s;
       
    }
    /* .dropdown a :focus, .con-menu a{
        position:relative;
        top:175px;
    } */
    .dropdown-content{
        animation: growDown 400ms ease-in-out forwards;
        transform-origin: top center;
    }
    @keyframes growDown {
        0% {
            transform: scaleY(0)
        }
        80% {
            transform: scaleY(1.1)
        }
        100% {
            transform: scaleY(1)
        }
    }
    
    
    .menu li .close{
        display:block;
        position:absolute;
        font-size:15px;
        top:10px;
        right:25px;
    }
    .menu li a:hover{
        background-color:#cc0066;
        color:#fff;
    }
    .display{
        transform:translatex(0%);
    }
    .menu-bar i{
        display:block !important;
        top:-48px !important;
    }
    .menu li a{
        display:block !important;
        padding:15px !important;
    }
    .dropdown-content{
        top:62px !important;
        left:5px !important;
        box-shadow:none !important;
        /* position:unset !important; */
    }
    
    .logo{
        display:block;
        /* width:90px; */
        width:90px !important;
        margin-left:-4px;
        margin-top:10px;
    }
    .logo img{
        width:100%;
    }
    header{
        position:relative !important;
    }
    .contact-banner-title{
        font-size:20px;
    }
    .contact-banner-para{
        font-size:12px;
    }
    .contact-banner img{
        height:200px;
    }
    .contacts{
        padding:15px 0 15px 0;
        bottom:18px;
        
    }
    .divider{
        top:-22px;
    }
    .contact-title{
        font-size:20px;
        margin:0 0 30px;
    }
    .contact-title span{
        font-size:12px;
        margin:10px 0 0 0;
       top:-2px;
    }
    .contact-box{
        padding:15px 20px 30px 20px;
        width:90%;
        
    }
    .contact-info{
        position: static !important;
        font-size:10px;
        min-width:0;
        padding:25px 10px;
    }
    .contact-title::after{
        bottom:-20%;
    }
    .captcha{
        justify-content:start;
    }
    .submit{
        text-align:center;
        margin:20px 0 20px 0;
    }
    .contact-me i{
        font-size:16px;
    }
    .con-info{
        font-size:11px;
    }
    .submit button{
        font-size:12px;
        padding:10px 15px;
    }
    .contact-box .form-group{
        width:100%;
    }
    .contact-title span{
        line-height:20px;
    }
  }
  @media(min-width:370px) and (max-width:420px){
    .menu-bar i{
        display:block !important;
        top:-53px !important;
    }
    .logo{
        width:105px !important;
    }
    .menu{
        height:100vh !important;
        width:100% !important;
    }
    .dropdown-content{
        top:62px !important;
        left:5px !important;
        box-shadow:none !important;
        position:unset !important;
    }
    .menu li a:hover{
        background-color:#cc0066;
        color:#fff;
    }
    .contact-title span{
        font-size: 12px;
        margin: 10px 0 0 0;
        /* display: block; */
        top:-2px;
        width: 95%;
    }
    .contact-title span{
        line-height:20px;
    }
    
}

  @media(max-width:359px){
    .menu{
        
        position:fixed;
        top:0px;
        right:0;
        background-color:#fff;
        flex-direction:column;
        height:100vh !important;
        width:100%;
        z-index:999;
        /* justify-content:space-between !important; */
        justify-content:unset !important;
        padding:80px 0;
        
       transform:translatex(100%);
       transition:transform 0.6s;
       
    }
    /* .dropdown a :focus, .con-menu a{
        position:relative;
        top:175px;
    } */
    .dropdown-content{
        animation: growDown 400ms ease-in-out forwards;
        transform-origin: top center;
    }
    @keyframes growDown {
        0% {
            transform: scaleY(0)
        }
        80% {
            transform: scaleY(1.1)
        }
        100% {
            transform: scaleY(1)
        }
    }
    
    
    .menu li .close{
        display:block;
        position:absolute;
        font-size:15px;
        top:10px;
        right:25px;
    }
    .menu li a:hover{
        background-color:#cc0066;
        color:#fff;
    }
    .display{
        transform:translatex(0%);
    }
    .menu-bar i{
        display:block !important;
        top:-47px !important;
    }
    .menu li a{
        display:block !important;
        padding:15px !important;
    }
    .dropdown-content{
        top:62px !important;
        left:5px !important;
        box-shadow:none !important;
        position:unset !important;
    }
    
    .logo{
        display:block;
        /* width:90px; */
        width:90px !important;
        margin-left:-5px;
        margin-top:10px;
    }
    .logo img{
        width:100%;
    }
    header{
        position:relative !important;
    }
    .contact-banner-title{
        font-size:16px;
    }
    .contact-banner-para{
        font-size:11px;
    }
    .contact-banner img{
        height:200px;
    }
    .contacts{
        padding:15px 0 15px 0;
        bottom:18px;
        
    }
    .divider{
        top:-22px;
    }
    .contact-title{
        font-size:18px;
        margin:0 0 30px;
    }
    .contact-title span{
        font-size:10px;
        margin:20px 0 0 0;
        display:block;
    }
    .contact-title::after{
        bottom:-20%;
    }
    .contact-box{
        padding:15px 20px 30px 20px;
        width:90%;
        
    }
    .contact-info{
        position: static !important;
        font-size:10px;
        min-width:0;
        padding:25px;
    }
    .captcha{
        justify-content:center;
    }
    .submit{
        text-align:center;
        margin:20px 0 20px 0;
    }
    .contact-me i{
        font-size:16px;
    }
    .con-info{
        font-size:10px;
    }
    .submit button{
        font-size:12px;
        padding:10px 15px;
    }
    .contact-box .form-group{
        width:100%;
    }
    .contact-title span{
        line-height:20px;
    }
  }

