.humburger {
  width: 33px;
  height: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* position: absolute;
  right: 40px;
  top: 30px; */
  cursor: pointer;
  transition: 0.5s all ease-in;
  /* z-index: 5555; */
}
.humburger:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #EC1C24;
  transform: scale(0);
  transition: 0.5s all ease-in;
  z-index: 1;
}
.humburger .line {
  height: 3px;
  width: 100%;
  background: #000;
  display: flex;
  transition: 0.5s all ease-in;
  position: relative;
  z-index: 2;
  margin: unset;
  opacity: unset;
}
.humburger .line:after {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: white;
  width: 0;
  transition: 0.5s all ease-in-out;
  z-index: 1;
}
/* .humburger:hover:after {
  transform: scale(1.4);
} */
/* .humburger:hover .line:after {
  width: 100%;
} */
.humburger.open .line {
  background: white;
}
.humburger.open .line:nth-of-type(1) {
  transform: rotate(45deg);
  margin-top: 12px;
}
.humburger.open .line:nth-of-type(2) {
  transform: rotate(-45deg);
  margin-top: -13px;
}
.humburger.open .line:nth-of-type(3) {
  visibility: hidden;
  opacity: 0;
}

.menu_body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  height: 100vh;
  display: flex;
  background: #000;
  transform: translateX(100%);
  transition: 0.5s all ease;
  z-index: 1111;
  overflow-y: scroll;
}
.menu_body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.menu_body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.menu_body::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}
.menu_body.open {
  transform: translateX(0);
}
.menu_body__item_wrapper {
  padding: 40px 40px 40px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.menu_body__item_wrapper .menu_list {
  list-style: none;
  width: 100%;
  padding: 0 0 0 0;
  margin-top: 8%;
}
.menu_body__item_wrapper .menu_list li {
  /* margin-bottom: 30px; */
  position: relative;
  /* padding-left: 55px; */
  border-bottom: 1px solid #ffffff45;
  padding-bottom: 15px;
  padding-top: 15px;
}
.menu_body__item_wrapper .menu_list li:last-child {
  margin-bottom: 0;
}
.menu_body__item_wrapper .menu_list li a {
  color: white;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  transition: 0.5s all ease;
}
.menu_body__item_wrapper .menu_list li a:after {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  width: 0;
  bottom: 0;
  background: #EC1C24;
  transition: 0.5s all ease;
}
/* .menu_body__item_wrapper .menu_list li a:hover:after {
  width: 100%;
} */
.menu_body__item_wrapper .menu_list li.has_child .sub-menu {
  position: absolute;
  background: black;
  list-style: none;
  padding: 30px;
  left: unset;
  top: 0;
  right: 100%;
  min-width: 135px;
  opacity: 0;
  visibility: hidden;
}
.menu_body__item_wrapper .menu_list li.has_child .sub-menu li {
  padding-left: 0;
  margin-bottom: 15px;
}
.menu_body__item_wrapper .menu_list li.has_child .sub-menu li a:after {
  display: none;
}
/* .menu_body__item_wrapper .menu_list li.has_child:hover .sub-menu {
  opacity: 1;
  visibility: visible;
} */
.closemenu {
  position: absolute;
  right: 12%;
  font-size: 20px;
  color: #fff;cursor: pointer;
}
@media (max-width: 992px) {
  body .menu_body {
      width: 325px;
  }
  body .menu_body__item_wrapper .menu_list li.has_child {
    position: relative;
  }
  body .menu_body__item_wrapper .menu_list li.has_child a {
    position: relative;
  }
  body .menu_body__item_wrapper .menu_list li.has_child a:after {
    content: "+";
    color: white;
    left: calc(100% + 25px);
    position: absolute;
    top: 0;
    width: 0;
  }
  body .menu_body__item_wrapper .menu_list li.has_child .sub-menu {
    position: relative;
    background: transparent;
    list-style: none;
    padding: 0;
    left: unset;
    top: unset;
    right: unset;
    min-width: auto;
    opacity: 1;
    visibility: visible;
    margin-top: 15px;
    padding-left: 25px;
    display: none;
  }
}


.accordion {
  background: none;
  box-shadow: none;
  border: none;
}
.accordion::after {
   display: none;
}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #fff;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 0;
  color: #fff;
  /* font-size: 1.15rem; */
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  /* text-transform: uppercase; */
}
.accordion button img {
    width: 20px;
    margin-bottom: 0px;
}
/* .accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color:#F05654;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color:#F05654;
  border: 1px solid#F05654;
} */
.accordion button .accordion-title {
  /* padding: 1em 1.5em 1em 0; */
  font-size: 18px;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 0;
  width: 22px;
  height: 22px;
  /* border: 1px solid; */
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 3px;
  width: 13px;
  height: 1px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 3px;
  left: 9px;
  width: 1px;
  height: 13px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color:#fff;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 12em; 
  max-height: fit-content;
  transition: all 200ms linear;
  will-change: opacity, max-height;
  margin-bottom: 30px;
  margin-top: 15px;
  /* overflow-y: scroll; */
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content li {
      font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    border: none;
    padding: 5px;
    text-align: left;
    list-style-type: square;
    color: #7a7a7a;
}
.accordion .accordion-content ul {
    margin: 1em 0 1em 5%;
    display: block;
    list-style-type: square;
}


@media (max-width: 992px) {
    .accordion button[aria-expanded="true"] + .accordion-content {
        overflow-y: scroll;
    }
}



.ac-label {
/* font-weight: 700; */
position: relative;
padding: 0;
/* margin-bottom: .5em; */
/* display: block; */
cursor: pointer;
/* background-color: whiteSmoke; */
transition: background-color .15s ease-in-out;
width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  color: #fff;
  line-height: 35px;
border-bottom: 1px solid;
margin-left: auto;
margin-right: auto;
border-bottom: 1px solid #ffffff45;
}
.oneLabel:after {
  visibility: hidden;
}
.ac-input:checked + label, .ac-label:hover {
/* background-color: #999; */
}

.ac-label:after, .ac-input:checked + .ac-label:after {
content: "+";
/* position: absolute; */
display: block;
right: 0;
top: 0;
width: 2em;
height: 31px;
line-height: 2.25em;
text-align: center;
background-color: transparent;
transition: background-color .15s ease-in-out;
color: #fff;
}

.ac-label:hover:after, .ac-input:checked + .ac-label:after {
/* background-color: #b5b5b5; */
}

.ac-input:checked + .ac-label:after {
content: "-";
}

.ac-input {
display: none;
}



.ac-text, .ac-sub-text {
opacity: 0;
height: 0;
margin-bottom: .5em;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

.ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text { 
opacity: 1;
height: auto;
}
.ac-input:checked ~ .ac-label {
  border-bottom: 1px solid #ffffff45 !important;
}
.f-14 {
  font-size: 14px !important;
}