* {
    margin: 0;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/open-sans/OpenSans-Bold.ttf');
}
@font-face {
font-family: 'OpenSans-Medium';
src: url('../fonts/open-sans/OpenSans-Medium.ttf');
}
@font-face {
font-family: 'OpenSans-Regular';
src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}
@font-face {
font-family: 'OpenSans-Regular';
src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}
@font-face {
font-family: 'OpenSans-SemiBold';
src: url('../fonts/open-sans/OpenSans-SemiBold.ttf');
}
@font-face {
font-family: 'OpenSans-Light';
src: url('../fonts/open-sans/OpenSans-Light.ttf');
}
@font-face {
font-family: 'Roboto-Bold';
src: url('../fonts/roboto/Roboto-Bold.ttf');
}
@font-face {
font-family: 'Roboto-Medium';
src: url('../fonts/roboto/Roboto-Medium.ttf');
}
@font-face {
font-family: 'Roboto-Regular';
src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
font-family: 'AllertaStencil-Regular';
src: url('../fonts/Allerta_Stencil/AllertaStencil-Regular.ttf');
}
@font-face {
  font-family:'InterTight-Regular';
  src: url('../fonts/Inter_Tight/static/InterTight-Regular.ttf');
}
@font-face {
  font-family:'InterTight-SemiBold';
  src: url('../fonts/Inter_Tight/static/InterTight-SemiBold.ttf');
}
@font-face {
  font-family:'InterTight-Medium';
  src: url('../fonts/Inter_Tight/static/InterTight-Medium.ttf');
}
@font-face {
  font-family:'InterTight-Bold';
  src: url('../fonts/Inter_Tight/static/InterTight-Bold.ttf');
}
@font-face {
  font-family:'InterTight-Light';
  src: url('../fonts/Inter_Tight/static/InterTight-Light.ttf');
}

@font-face {
  font-family:'SairaStencilOne-Regular';
  src: url('../fonts/saira/SairaStencilOne-Regular.ttf');
}
  

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: 'Roboto-Regular';
  overflow-x: hidden;
}

a:hover{
  text-decoration:none;
}

.home-bg {
  /* background: linear-gradient(0deg, rgba(253, 249, 224, 0) 6.89%, #FFEBE4 100%); */
  background: linear-gradient(357.43deg, rgba(253, 249, 224, 0) 8.59%, #FFE5E2 53.86%, #E0E0E0 97.8%);
}

.banner-img img{
  width:100%;
  object-fit: cover;
}
.banner{
  position:relative;
  max-width:97%;
  width:100%;
  margin:0 auto;
  z-index: 111;
}
.about-bg-title{
  font-size:35px;
  color:#000;
  letter-spacing: 12%;
  font-family: 'Roboto-Bold';
  position:absolute;
  left:4%;
  top:50%;
  transform:translate(0,-50%);
  /* font-weight:bold; */
  letter-spacing: 0.12em;
}
.about-left-title{
  font-size:22px;
  color: #232323;
  letter-spacing:1px;
  font-family: 'Roboto-Medium';
  /* font-weight:600; */
  margin:0;

}


.abt-cont P {
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #232323;
  opacity: 0.9;
  margin-top: 15px;
}

.product-section {
  margin-top: 65px;
  margin-bottom: 100px;
}
.product-left img {
  width: 100%;
}
.product-right {
  background: url(../images/home-img/product-right.png);
  background-size: cover;
  box-shadow: inset 19px 0px 5px rgba(0, 0, 0, 0.08);
  filter: drop-shadow(1px 7px 9px rgba(0, 0, 0, 0.15));
}
.product-right .tab-section {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  border: 1px solid #21212140;
}
.product-right .tab-section li {
  width: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #181818;
  opacity: 0.9;
  font-family: 'roboto-medium';
  padding: 7px 10px;
  order: 2;
  cursor: pointer;
}
.product-right .tab-section li.active {
  background: linear-gradient(90deg, #3A6186 0%, #89253E 100%);
  box-shadow: inset 18px 0px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  position: relative;
  order: 1;
}
.product-right .tab-section li img {
  display: none;
}
.product-right .tab-section li.active img {
  display: inline-block;
  width: 30px;
  margin-right: 8px;
}
.product-right .tab-section li.active:before, .product-right .tab-section li.active:after {
  content: '';
  width: 23px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.product-right .tab-section li.active:after {
  right: 0;
  left: unset;
}
.product-right-cont {
  padding: 40px 30px 40px 50px;
}
.product-right-cont p {
  margin-bottom: 26px;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #2E2C2C;
  opacity: 0.9;
}
.explore-button {
  display: flex;
  margin-top: 16%;
}
.explore-button a span {
  background: #373633;
  color: #fff !important;
  text-decoration: none !important;
  border-radius: 5px;
  display: inline-block;
  padding: 0px 23px 0px 11px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  margin-left: -9px;
  height: 26px;
  line-height: 26px;
}
.explore-button img {
  height: 33px;
  position: relative;
  z-index: 1;
  margin-top: -11px;
}


.highlight-section .inner-left h2 {
  font-family: 'Roboto-Bold';
  margin:0;
  font-size: 23px;
  /* letter-spacing: 0.03em; */
  text-transform: capitalize;
  color: #464646;
  text-align: center;
  margin-bottom: 4px;
}
.highlight-section .inner-left p {
  font-size:18px;
  font-family: 'Roboto-Regular';
  letter-spacing: 0.03em;
  color: #000000;
  text-align: center;
}
.highlight-section .inner-item {
  display:flex;
  align-items:center;
  justify-content: center;
}
.highlight-section .inner-left h2 img {
  /* margin-top: -4px;
  margin-right: 8px; */
  display: block;
  margin: auto auto 5px;
}


.video-section {
  position: relative;
}
.video-section img {
  width: 100%;
}
.video-section::before {
  content: '';
  position: absolute;
  background: url(../images/home-img/down-arrow.png);
  width: 40px;
  height: 25px;
  background-size: 67%;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: -1px;
  left: 15%;
}
.vid-center {
  background: url(../images/home-img/video-cont-brd.png);
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 12%;
  background-size: 100% 82%;
  width: 275px;
  padding: 30px 20px;
  background-repeat: no-repeat;
}
.vid-center h6 {
  color: #F5F5F5;
  opacity: 0.9;
  font-size: 28px;
  font-family: 'roboto-medium';
}
.vid-center h4 {
  color: #F5F5F5;
  opacity: 0.9;
  font-size: 34px;
  font-family: 'roboto-medium';
}
.vid-center p {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFFC7;
  margin-top: 18px;
}
.vid-center .play-button img {
  width: 72px;
  margin: 50px auto auto;
  display: block;
}
.vid-center .play-button {
  background: url(../images/home-img/line.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
.video-section video {
  width: 100%;
  height: 598px;
  object-fit: cover;
}
#wowslider-container1:after {
  content: '';
  box-shadow: 0px 127.225px 50.5415px rgba(0, 0, 0, 0.01), 0px 48.46px 42.6989px rgba(0, 0, 0, 0.05), 0px 13px 29px rgba(0, 0, 0, 0.09), 0px 7.84265px 17.4281px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
/* VIDEO POPUP */
.overlay-popup-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* background: rgba(0, 0, 0, 0.93); */
  background: rgb(17, 17, 17);
	transition: opacity 500ms;
	display: none;
	z-index: 11111;
}
.popup {
	margin: 35px auto;
	padding: 30px 20px;
	background: transparent;
	border-radius: 5px;
	width: 100%;
	position: relative;
	transition: all .5s ease-in-out;
	top: auto;
}
.popup .close {
	position: absolute;
	top: 6px;
	right: 5%;
  transition: all 200ms;
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
  color: #000 !important;
  cursor: pointer;
  background: #fff;
  opacity: 1;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 29px;
}
.popup .close:hover {
  	color: #C54E47;
}
.popup .content {
  	max-height: 30%;
  	overflow: auto;
/*	margin-top: 5%;*/
	text-align: center;
/*	font-weight: bold;*/
padding: 5px;
}
.popup .content a {
    font-size: 15px;
}
.popup .content a:hover {
    text-decoration: none;
}
.popup .content video {
  width: auto;
height: 600px;
}

.animatable {
  
  /* initially hide animatable objects */
  visibility: hidden;
  
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}


@media (max-width: 600px) {
  .product-section {
    margin-bottom: 50px;
    margin-top: 44px;
  }
  .highlight-section .inner-item {
    margin-bottom: 5%;
  }
  .explore-button {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .vid-center .play-button img {
    width: 45px;
    margin: 13px auto auto;
    height: auto;
  }
  .vid-center h4 {
    font-size: 27px;
  }
  .vid-center h6 {
    font-size: 25px;
  }
  .vid-center {
    top: 50%;
  }
  .vid-center p {
    font-size: 13px;
    line-height: 22px;
  }
  .video-section img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .product-right {
    filter: unset;
  }
  .abt-cont P {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }
  .popup .content video {
    width: 100%;
    height: auto;
  }
  .popup .close {
    top: -19px;
  }
  .product-right .tab-section {
    display: grid;
  }
  .product-right .tab-section li.active img {
    width: 25px;
  }
  .product-right .tab-section li {
    font-size: 16px;
    width: 100%;
  }
  .product-right-cont {
    padding: 15px 10px 15px 35px;
  }
  .product-right-cont p {
    font-size: 14px;
    margin-bottom: 13px;
  }
  .highlight-section .inner-left h2 {
    font-size: 24px;
  }
  .highlight-section .inner-left p {
    font-size: 18px;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .product-section {
    margin-bottom: 60px;
    margin-top: 44px;
  }
  .highlight-section .inner-item {
    margin-bottom: 5%;
  }
  .explore-button {
    margin-top: 10%;
  }
  .vid-center .play-button img {
    width: 45px;
    margin: 13px auto auto;
  }
  .vid-center h4 {
    font-size: 24px;
  }
  .vid-center h6 {
    font-size: 22px;
  }
  .vid-center {
    top: 57%;
  }
  .vid-center p {
    font-size: 13px;
    line-height: 22px;
  }
  .product-right {
    filter: unset;
  }
  .abt-cont P {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
  }
  .popup .content video {
    width: 100%;
    height: auto;
  }
  .popup .close {
    top: -19px;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .product-section {
    margin-bottom: 60px;
    margin-top: 44px;
  }
  .highlight-section .inner-item {
    margin-bottom: 5%;
  }
  .explore-button {
    margin-top: 10%;
  }
  .vid-center .play-button img {
    width: 45px;
    margin: 13px auto auto;
  }
  .vid-center h4 {
    font-size: 24px;
  }
  .vid-center h6 {
    font-size: 22px;
  }
  .vid-center {
    top: 57%;
  }
  .vid-center p {
    font-size: 13px;
    line-height: 22px;
  }
  .product-right {
    filter: unset;
  }
  .abt-cont P {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
  }
  .popup .content video {
    width: 100%;
    height: auto;
  }
  .popup .close {
    top: -19px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .product-right .tab-section li.active img {
    width: 25px;
  }
  .product-right .tab-section li {
    font-size: 16px;
  }
  .product-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .highlight-section .inner-left p {
    font-size: 18px;
  }
  .highlight-section .inner-left h2 {
    font-size: 25px;
  }
  .product-section {
    margin-bottom: 72px;
  }
  .popup .content video {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1199px) and (max-width: 1365px) {
 
}

@media screen and (min-width: 1365px) and (max-width: 1399px) {
  
}

@media screen and (min-width: 1399px) and (max-width: 1600px) {
  
}

